*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1365&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.main_cotainer{
    display: flex;
    width: 100%;              
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 64px;
    background-color: rgba(235, 222, 222, 0.2);
    box-shadow: 0 8px 32px 0 rgba(129, 136, 233, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -86px;

}

.card_data{
    margin-top: -50px;
    color: #fff;
    text-shadow: 0 5px rgba($color: #000000, $alpha: 1.0);
  }

  .card_data input{
    border: none;
    width: 100%;
    font-size: 12px;
    color: #333;
    border-radius: 8px;
    height: 24px;
    
  }

  .hero-btn{
    width: 70px;
    border-radius: 22px;
    border: none;
    transition: 0.3s ease;
    font-size: 10px;
    height: 25px;
    background-color: orange;
    opacity: 0.8;
    color: black;
    margin-left: 75px;
    margin-top: 30px;
    cursor: pointer;
  }

  .qr-code{
     margin-top: 20px;
     border-radius: 25px;
  }

  @media screen and (max-width:768px) {
    .card{
      width: 300px;
      height: 308px;
  
    }
}

